

.list {

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.item {
    text-transform: capitalize;
    font-size: 20px;
}

.item:not(:last-child) {
    margin-right: 13px;
}

.btn {
    width: 100px;
    height: 30px;

    border-radius: 4px;
    
    font-size: 20px;
}

